spring.application.name=newspaper

spring.datasource.url=jdbc:mysql://localhost:3306/pocket_news
spring.datasource.username=your_username
spring.datasource.password=your_password
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

news.api.key=YOUR_GNEWS_API_KEY
news.api.url=https://gnews.io/api/v4/top-headlines

jwt.secret=YOUR_JWT_SECRET