body {
  margin: 0;
  padding: 0;
  background: #f4f7fb;
  font-family: "Segoe UI", sans-serif;
  
}

#root {
  min-height: 100vh;
  background: #f4f7fb;
}

.App {
  min-height: 100vh;
  background: #f4f7fb;
}